.charts {
	display: flex;
	flex-direction: column;
}

#last-updated {
	font-size: 12px;
}

.top,
.bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;

	.graph {
		flex: 0.30;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 24px;
		overflow: hidden;
	}
}

.covid_info_grid {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;

	.card {
		margin-right: 5px;
		margin-left: 5px;
		border-bottom: 5px solid #ffbe0c;
		li ng2-odometer {
			font-weight: bold;
		}
	}
}

@media only screen and (max-width: 1050px) {
	.charts {
		flex-direction: column;
		justify-content: center;

		.graph {
			margin: 5px;
		}
	}

	.top,
	.bottom {
		flex-direction: column;
		flex: 1;
	}
}

@media only screen and (max-width: 895px) {
	.covid_info_grid {
		flex-direction: column;
		.card {
			margin-bottom: 10px;
		}
	}
}
