<app-loading *ngIf="api.loading"></app-loading>

<div class="covid_info_grid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Active Cases</h5>
      <ul>
        <li *ngIf="totals">Student Cases: <ng2-odometer [number]="totals.studentCases"></ng2-odometer>
        </li>
        <li *ngIf="totals">Employee Cases: <ng2-odometer [number]="totals.employeeCases"></ng2-odometer>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Symptomatic Testing</h5>
      <ul>
        <li *ngIf="totals">Positive Tests: <ng2-odometer [number]="totals.symptomaticPositives"></ng2-odometer>
        </li>
        <li *ngIf="totals">Negative Tests: <ng2-odometer [number]="totals.symptomaticNegatives"></ng2-odometer>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Asymptomatic Surveillance Testing</h5>
      <ul>
        <li *ngIf="totals">Positive Tests: <ng2-odometer [number]="totals.asymptomaticPositives"></ng2-odometer>
        </li>
        <li *ngIf="totals">Negative Tests: <ng2-odometer [number]="totals.asymptomaticNegatives"></ng2-odometer>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Entry Testing</h5>
      <ul>
        <li *ngIf="totals">Positive Tests: <ng2-odometer [number]="totals.entryTestPositives"></ng2-odometer>
        </li>
        <li *ngIf="totals">Positive Tests: <ng2-odometer [number]="totals.entryTestNegatives"></ng2-odometer>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Students in Isolation or Quarantine</h5>
      <ul>
        <li *ngIf="totals">Students in Isolation: <ng2-odometer [number]="totals.studentsInIsolation"></ng2-odometer>
        </li>
        <li *ngIf="totals">Students in Quarantine: <ng2-odometer [number]="totals.studentsInQuarantine"></ng2-odometer>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">About</h5>
      <ul>
        <li>
          <a class="card-link" style="cursor: pointer;" (click)="showModal = true" data-toggle="modal" data-target="#defintionModal">Definitions</a>
        </li>
        <li>
          <a class="card-link" href="https://together.vcu.edu/dashboard/">Data Source</a>
        </li>
        <li>
          <a class="card-link" href="https://github.com/stearnsbq/VCUCovid-website">Github</a>
        </li>
      </ul>

      <footer class="blockquote-footer">Last Updated {{lastUpdated}}</footer>
    </div>
  </div>
</div>
<div class="charts">
  <div class="top">
    <div class="graph">
      <app-graph [chartType]="'area'" [title]="'Active Cases'" [colors]="['rgba(255, 190, 12, 0.6)', 'rgba(33, 31, 31, 0.6)']" [dataNames]="['Student Cases', 'Employee Cases']" whatChart="cases"></app-graph>
    </div>
    <div class="graph">
      <app-graph [chartType]="'area'" [title]="'Symptomatic Testing'" [colors]="['rgba(255, 190, 12, 0.6)', 'rgba(33, 31, 31, 0.6)']" [dataNames]="['Positive Results', 'Negative Results']" whatChart="tests/symptomatic"></app-graph>
    </div>
  </div>
  <div class="bottom">
    <div class="graph">
      <app-graph [chartType]="'area'" [title]="'Asymptomatic Surveillance Testing'" [colors]="['rgba(255, 190, 12, 0.6)', 'rgba(33, 31, 31, 0.6)']" [dataNames]="['Negative Results', 'Positive Results']" whatChart="tests/asymptomatic"></app-graph>
    </div>
    <div class="graph">
      <app-graph  [chartType]="'area'" [title]="'Entry Testing'" [colors]="['rgba(255, 190, 12, 0.6)', 'rgba(33, 31, 31, 0.6)']" [dataNames]="['Negative Results', 'Positive Results']" whatChart="tests/entry"></app-graph>
    </div>
    <div class="graph">
        <app-graph [chartType]="'area'" [title]="'Students In Isolation or Quarantine'" [colors]="['rgba(255, 190, 12, 0.6)', 'rgba(33, 31, 31, 0.6)']" [dataNames]="['Quarantined Students', 'Isolated Students']" whatChart="residential"></app-graph>
    </div>
  </div>
</div>



<div *ngIf="showModal" class="modal fade" id="defintionModal" tabindex="-1" role="dialog" aria-labelledby="defintionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="defintionModalTitle">Definitions</h5>
        <button type="button" (click)="showModal = false" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Active cases</h5>
        <p>Active cases are the number of people who have tested positive and are in isolation either on-campus or off-campus. Any reduction in cases indicates individuals being cleared to return to work or class.</p>
        <h5>Isolation and quarantine</h5>
        <p>Isolation separates those who test positive from people who are not sick. Quarantine separates and restricts the movement of those who may have been exposed to see if they become sick. Isolation and quarantine information presented below is specific to on-campus residential students. Off-campus students and employees may also be isolated or quarantined. Any reduction in cases indicates individuals being cleared to return to work or class.</p>
        <h5>Symptomatic testing</h5>
        <p>This is the number of tests conducted for those with symptoms of COVID-19. This number includes the number of tests conducted at VCU Health testing sites as well as those that are conducted outside of VCU and later self-reported.  </p>
        <h5>Asymptomatic surveillance testing</h5>
        <p>VCU tests a percentage of asymptomatic community members Monday through Thursday to gauge the proportion of people with COVID-19 in the VCU community. This was previously referred to as "asymptomatic prevalence testing." VCU's Public Health Response Team monitors the asymptomatic positivity rate as an indicator of the prevalence of COVID-19 in our community. The goal is to test 5% of residential students and 2% of non-residential students and employees on a monthly basis.</p>
        <h5>Entry testing</h5>
        <p>Residential students were mailed test kits to conduct COVID-19 testing prior to move-in. VCU restricts move-in for students who test positive. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showModal = false" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
