div{
  background-color: #FAFAFA;
  border-radius: 8px;
  border: 3px solid #211F1F;
  height: 100%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
}
